


//navbar
$navHeight: 60px;
$navColor: #aa4411;

//main title
$titleColor: orange;
$display1-size: 10rem; //bootstrap variable

//concept tab
$transition-fade: opacity .05s linear;
$tabBackground: lightgrey;


//sections
$sectionBackground: white;

//button
$buttonColor: #ff6600;
