header {
	margin:30px;
	text-align: center;
}

header img {
	width: 875px;
}

#mainWrapper {
	margin:30px;
	text-align: center;
}

#mainWrapper img {
	width: 820px;
}

section {
	margin: 20px;
}

#social-link{
	font-size: 30px;
}

#social-link a{
	text-decoration: none;
	margin: 0 20px;
}

#social-link span i:first-child{
	color: #ffe07b;
}

#social-link span i:last-child{
	color: white;
}