//- views/global.pug

doctype html
html
  head
    meta("charset"="utf-8")
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title publish
    link(rel="icon" type="image/x-icon" href="/images/favicon/admin.ico")
  
  body
    header: h1 Euêkafé: le tableau de bord.

    section(id="liens")
      a(href="/admin/publish") publier </br>
      a(href="/admin/twitterFeed") feed Twitter </br>
      a(href="/admin/facebookFeed") feed Facebook </br>
      a(href="/admin/otherFeed") feed autres </br>