//- views/admin-layout.pug

doctype html
html
  head
    meta("charset"="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/x-icon" href="img/admin.ico")
    link(rel="stylesheet" type="text/css" href="admin.style.css")
    block head
      title eurekadmin
  body
    block body
    script(src="admin/admin.js" type="text/javascript")

