//navbar
$navHeight: 60px;
$navColor: #aa4411;

//main title
$titleColor: orange;
$titleSize: 20vh;

//sections
$conceptColor: #cc4411;
$agendaColor: #ff8822;
$contactColor: #dd3321;

//button
$buttonBackground: #ffcc33;
$buttonColor: white;
$buttonHover: #ff8822;
